<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-center mx-auto">
                <a class="navbar-brand" href="{{ url_for('site.dashboard') }}">Temperature Tracker</a>
            </div>
            <div class="form-inline">
                {% if username %}
                <span class="navbar-text mr-3">{{ username }}</span>
                <button class="btn btn-outline-primary" onclick="window.location.href='{{ url_for('auth.logout') }}';">Logout</button>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
